.container-fluid {
    margin-top: 15px;
}
.panneau {
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

#form, #articles {
	width: 90%;
    margin: 0 auto;
}

.username {
	color: #007bff;
	font-weight: bold;
}

.date {
	color: gray;
    font-size: 12px;
}

.aimer i {
	color: red;
}

.aimer i:hover {
	cursor: pointer;
}

.content {
	margin: 20px 0 20px 0 !important;
}

div[id^=article] div {
	margin: 5px 0 5px 0;
}

div[id^=article] form div > * {
	display: inline-block;
}
div[id^=article] {
	margin-bottom: 50px !important;
}
div[id^=article] form textarea {
	margin-top: 20px;
}

#counter {
	margin: 0 20px 0 10px;
}

