.skeleton {
    margin: 1px 2px 1px 2px;
}
.menu {
    width: 30%;
}
.bodier {
    width: 70%;
}
.panneau {
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

#formulaire > div {
	margin: 20px 0;
	padding: 20px;
}

#username {
	color: #007bff;
}

#post {
	margin: 15px 0;
}

#form2 form div > * {
	display: inline-block;
}

#form2 form textarea {
	margin-top: 20px;
}

#counter {
	margin: 0 20px 0 10px;
}

